.LoginLayout {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.664);
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  z-index: 200;
}

.Login {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  width: 400px;
  padding: 30px;

  h3,
  h4,
  h5 {
    margin: 15px 0;
  }

  h3 {
    font-size: 40px;
    color: #2359a0;
  }

  h4 {
    font-size: 17px;
    color: #2359a0;
  }

  h5 {
    font-size: 15px;
  }

  span {
    border-bottom: 1px solid #2359a0;
    color: #2359a0;
    padding-bottom: 3px;
    cursor: pointer;
  }

  input {
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    width: 90%;
    font-size: 14px;
  }

  a {
    letter-spacing: 2px;
    margin: 10px auto;
    padding: 10px 10px;
    width: 90%;
    font-size: 16px;
  }
}

.Icon {
  margin-left: auto;
  font-size: 30px;
  color: #2359a0;
  cursor: pointer;
}
