.Snackbar {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 220;
}

.SnackbarPopUp {
  background-color: white;
  padding: 0 30px;
  border-radius: 10px;
  p {
    color: black;
  }
}
