.ProgressInfoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  flex: 1 0 40%;

  svg {
    font-size: 50px;
    margin-right: 10px;
  }
}

.ProgressInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 10px 0;
    font-size: 30px;
  }

  p {
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }
}
