.GamesLayout {
  background: url("../assets/Images/gamesBackImg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  margin-top: 55px;
}

.CategoriesLayout {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
