.ProfilePage {
  min-height: 100%;
  width: 100%;
}

.ProfilePageBox {
  display: flex;
  margin: 55px 30px 0 30px;
  min-height: 40rem;
}

.Profile {
  display: flex;
  flex-direction: column;
  color: black;
  flex: 40%;
}

.MainProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.GameHistory {
  flex: 40%;
}
