.GamesLayout {
  background: url("../../../../assets/Images/gamesBackImg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  margin-top: 55px;
  display: flex;
  flex: 1 0 auto;
}

@media (max-width: 1200px) {
  .GamesLayout {
    flex-direction: column-reverse;
  }
}
