.MainWrapper {
  position: relative;
  top: 0%;
  flex: 1 0 auto;
  background: url("../../../../assets/Images/profileBackImg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
