.TopWins {
  display: flex;
  color: white;
  flex-direction: column;
  width: 30%;
  padding: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.363);

  h3 {
    margin: 10px 0;
  }
}

.Winner {
  max-width: 250px;
  margin: 10px auto;
  padding: 0 50px;
  background-color: rgba(255, 255, 255, 0.116);
  border-radius: 20px;
  text-align: left;
  h3 {
    text-transform: uppercase;
  }
  h5 {
    margin: 5px 0;
  }
}
